.captiveportal {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    &:after {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    a {
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
    }
    .link {
        color: var(--link_color, initial);
        cursor: pointer;
        font-weight: 400;
        &:hover {
            color: var(--link_hover_color, initial);
        }
    }
    hr {
        background-color: transparent;
    }
    img {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .interface-config {
        font-family: sans-serif;
        font-weight: 400;
        color: var(--color_primary, initial);
    }
    section {
        width: 100vw;
        height: 100%;
        background-color: var(--bg_section, transparent);
        background-image: var(--bg_image, none);
        background-repeat: var(--bg_repeat, initial);
        background-size: var(--bg_size, initial);
        background-attachment: var(--bg_attachment, initial);
    }
    .isp-info,
    .footer-isp-info {
        font-size: 12px;
        * {
            &:first-child {
                font-weight: 700;
                width: 100%;
            }
        }
    }
    .isp-info {
        color: var(--color_primary, initial);
        display: contents;
        * {
            position: relative;
            z-index: 2;
            &:first-child {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }
    }
    .footer-isp-info {
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        padding: 0 15px 40px;
        justify-content: space-between;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        color: var(--color_secondary, initial);
        &.ready {
            opacity: 1;
            transition: all var(--fadein, initial);
        }
    }
    .interface-config {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }
    .interface-config p {
        margin-bottom: .6em;
        flex: 0 0 50%;
    }
    .interface-config .if-title {
        color: var(--link_color, initial);
    }
    .config-address {
        color: var(--link_hover_color, initial);
    }
    .row {
        opacity: 0;
    }
    .row.ready {
        opacity: 1;
        transition: all var(--fadein, initial);
    }
    .left-side,
    .right-side {
        position: relative;
        padding-right: var(--block_padding, 0);
        padding-bottom: var(--block_padding, 0);
        padding-left: var(--block_padding, 0);
        position: relative;
        .wrapper {
            height: 100%;
            width: 100%;
            max-width: fit-content;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &:after {
                position: absolute;
                width: 100%;
                height: calc(100% + 1px);
                top: 0;
                left: 0;
                content: "";
                z-index: 0;
            }
        }
    }
    .left-side {
        z-index: 2;
        top: var(--block_padding, 0);
        margin-right: calc(-1.5 * (var(--block_padding, 0)));
        .wrapper {
            border-radius: var(--left_side_block_radius, 0);
            color: var(--color_secondary, initial);
            padding: 75px;
            background-color: var(--bg_color_left_side, transparent);
            background-image: var(--bg_img_left_side, none);
            background-repeat: var(--bg_img_left_side_repeat, none);
            background-position: var(--bg_img_left_side_position, none);
            background-size: var(--bg_img_left_side_size, none);
            transition: width 0.3s ease-in;
            & > * {
                position: relative;
                z-index: 2;
            }
            &:before {
                border-radius: var(--left_side_block_radius, 0);
                box-shadow: var(--left_side_shadow, none);
            }
            &:after {
                border-radius: var(--left_side_block_radius, 0);
                background: var(--bg_left_side_blend, none);
            }
        }
    }
    .right-side {
        z-index: 1;
        margin-left: calc(-1.5 * (var(--block_padding, 0)));
        .wrapper {
            border-radius: var(--right_side_block_radius, 0);
            height: calc(100% + (2* var(--block_padding, 0)));
            background-color: var(--bg_color_right_side, transparent);
            background-image: var(--bg_img_right_side, none);
            background-repeat: var(--bg_img_right_side_repeat, none);
            background-position: var(--bg_img_right_side_position, none);
            background-size: var(--bg_img_right_side_size, none);
            padding: 75px 75px 75px calc(75px + var(--block_padding, 0));
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: width 0.3s ease-in;
            &:before {
                border-radius: var(--right_side_block_radius, 0);
                box-shadow: var(--right_side_shadow, none);
                height: calc(calc(100% + (2 * var(--block_padding, 0))) - (2 * var(--block_padding, 0)));
            }
            &:after {
                border-radius: var(--right_side_block_radius, 0);
                background: var(--bg_right_side_blend, none);
            }
        }
    }
    .header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
    .logo {
        background-color: var(--logo_bg_color, transparent);
        border-radius: var(--logo_bg_border_radius, 6px);
        width: max-content;
        padding: 1em;
        img {
            width: 140px;
            height: 140px;
            max-width: unset;
        }
    }
    .heading {
        margin: auto;
        padding-left: 30px;
    }
    .heading-title {
        font-size: 28px;
        font-weight: 100;
    }
    #cp_portal_info {
        font-weight: 300;
        line-height: 1.6em;
    }
    .field-group {
        margin-bottom: 12px;
        & > label {
            padding-bottom: 0;
        }
        .field {
            background-color: var(--input_field_bg_color, transparent);
            border-color: var(--input_field_border_color, initial);
            border-width: 0 !important;
            border-radius: unset !important;
            width: 100%;
        }
    }
    .form-fields-wrapper {
        z-index: 2;
        &:not([id]) {
            z-index: 3;
        }
        label {
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            width: 100%;
        }
        .heading-title {
            font-size: 18px;
            font-weight: 300;
            line-height: 2.3em;
            width: 100%;
        }
        .pretext {
            font-weight: 300;
        }
    }
    button {
        text-transform: uppercase;
        letter-spacing: 2.8px;
        background-color: var(--button_bg_color, transparent);
        color: var(--button_color, inherit);
        border-radius: 5px !important;
        &:hover {
            background-color: var(--button_hover_bg_color, transparent);
            color: var(--button_hover_color, inherit);
        }
    }
    .rules-checkbox {
        label {
            float: none;
            display: flex;
            flex-direction: row;
            justify-content: start;
            flex-wrap: nowrap;
            align-items: start;
            padding: 0;
            caret-color: transparent;
            .text {
                padding-top: 6px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    #signin[disabled],
    #signin_anon[disabled] {
        position: relative;
        overflow: hidden;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        &:before {
            content: "";
            position: absolute;
            left: -46px;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: -webkit-repeating-linear-gradient(145deg, rgba(0, 0, 0, 0) 1px, rgba(255, 255, 255, .2) 2px, rgba(255, 255, 255, .2) 11px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 20px);
            background: repeating-linear-gradient(-55deg, rgba(0, 0, 0, 0) 1px, rgba(255, 255, 255, .2) 2px, rgba(255, 255, 255, .2) 11px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 20px);
            -webkit-animation-name: MOVE-BG;
            -webkit-animation-duration: .6s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-name: MOVE-BG;
            animation-duration: .6s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
    #signin-box #signin[disabled],
    #login_none #signin_anon[disabled] {
        &:after {
            content: "\2715";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 26px;
            color: var(--button_bg_color, initial);
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 9px;
            padding-left: 3px;
            margin-right: auto;
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, .5);
            border-radius: 3px;
            z-index: 100;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            transition: 0.25s;
        }
        &:hover {
            &:after {
                color: var(--button_hover_bg_color, initial);
                background: rgba(0, 0, 0, .5);
            }
        }
    }
    #cp_portal_cookies_note {
        font-size: 12px;
        line-height: 16px;
    }
    .field-type-text {
        background-color: #fff;
        position: relative;
        margin-top: 15px;
        padding-left: 15px;
        border-radius: var(--input_field_border_radius, 5px);
    }
    .form {
        position: relative;
        .field-type-text {
            &:first-child {
                margin-top: 40px;
            }
            & + .field-type-checkbox {
                margin-top: 40px;
            }
            &:before {
                content: "";
                width: 5px;
                height: 100%;
                background-color: var(--input_field_before_bg_color, transparent);
                position: absolute;
                left: 0;
                border-radius: var(--input_field_before_border_radius, 5px);
            }
            label {
                color: var(--input_field_label_color);
                background-color: #fff;
            }
        }
    }
    &.single-lang {
        .form {
            .field-type-text {
                &:first-child {
                    margin-top: unset;
                }
            }
        }
    }
}

.a11y {
    &.a11y-highlight {
        .captiveportal {
            .right-side {
                .link {
                    padding: 2px 4px;
                    border: 2px dotted var(--color_primary, red);
                }
                .field-group {
                    .field {
                        border: 2px dotted var(--color_primary, red) !important;
                    }
                }
            }
        }
    }
    &.a11y-mono {
        filter: grayscale(100%);
    }
    &.a11y-helper {
        #tourBtn,
        #a11y-keys,
        #a11y-lang-keys {
            position: fixed;
            z-index: 10;
        }
        #tourBtn {
            right: 100px;
            bottom: 100px;
            display: none;
            .helper {
                height: var(--helper_size, 78px);
                width: var(--helper_size, 78px);
                position: relative;
                z-index: 1;
                overflow: hidden;
                float: left;
                background-color: var(--helper_bg_color, inherit);
                -webkit-border-radius: calc(var(--helper_size, 78px) / 2);
                border-radius: calc(var(--helper_size, 78px) / 2);
                -webkit-transition: width 1s ease !important;
                transition: width 1s ease !important;
                &:hover {
                    width: 310px;
                }
                a {
                    color: var(--helper_color, initial);
                    text-decoration: none;
                    outline: 0;
                    h3 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 215px;
                        height: var(--helper_size, 78px);
                        font-size: 30px;
                        line-height: 1;
                        color: var(--helper_color, initial);
                        margin: 0 0 0 var(--helper_size, 78px);
                        small {
                            font-size: 15px;
                            &:before {
                                content: "\003F";
                                position: absolute;
                                font-size: calc(var(--helper_size, 78px) - 3px);
                                font-weight: 900;
                                line-height: calc(var(--helper_size, 78px) - 3px);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: var(--helper_size, 78px);
                                height: var(--helper_size, 78px);
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
            &:not(:hover) {
                &:after {
                    content: "";
                    position: absolute;
                    z-index: 0;
                    top: -15px;
                    left: -15px;
                    display: block;
                    width: calc(var(--helper_size, 78px) + 30px);
                    height: calc(var(--helper_size, 78px) + 30px);
                    opacity: 0.5;
                    border-radius: 50%;
                    background-color: var(--helper_bg_color, inherit);
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-name: GLOW;
                    animation-name: GLOW;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    #a11y-keys,
    #a11y-lang-keys {
        width: 0;
        height: 0;
        top: 5px;
        right: 20px;
    }
}

#status_info,
#anon_info {
    .widget-heading {
        .heading-title {
            color: var(--color_primary, initial);
        }
    }
}

.rules {
    & > p {
        margin-top: 1em;
        margin-bottom: 0.5em;
        &:first-child {
            margin-top: unset;
        }
        &:last-child {
            margin-bottom: unset;
        }
    }
}

html {
    &.linux {
        .captiveportal {
            #signin-box #signin,
            #login_none #signin_anon {
                &[disabled] {
                    &:after {
                        height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .captiveportal {
        .left-side {
            margin-right: unset;
            padding: 50px 30px 0;
            top: unset;
        }
        .right-side {
            margin-left: unset;
            padding: 30px;
            .wrapper {
                margin-right: auto;
                margin-left: auto;
                padding: 75px;
            }
        }
        &:has(.menu-wrapper) {
            .left-side {
                padding-top: calc(75px + var(--offcanvas_margin, 15px));
            }
        }
    }
}

@media (max-width:768px) {
    .captiveportal {
        .header {
            flex-wrap: wrap;
        }
        .right-side,
        .left-side {
            .wrapper {
                padding: 50px 30px;
            }
        }
        .heading-title {
            font-size: 28px;
        }
        #cp_portal_info {
            font-size: 15px;
        }
        .heading {
            padding-left: 2em;
            padding-top: 2em;
            flex: 0 0 50%;
        }
        #polyglotLanguageSwitcher {
        &.flags-select {
            & ul {
                &.dropdown {
                    max-height: 246px;
                    width: 100%;
                    & + .mouse-scroll {
                        right: -25px;
                    }
                }
            }
        }
        }
    }
}

@-webkit-keyframes MOVE-BG {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(46px);
    }
}

@keyframes MOVE-BG {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(46px);
    }
}

@-webkit-keyframes GLOW {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes GLOW {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}
