html {
	font-family: sans-serif;
	height:100%;
}
body {
	min-height:100%;
}
section {
	display: block;
}
a {
	background-color: transparent;
}
a img {
	border: 0;
}
body,
button,
input {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	text-transform: none;
	font-size: 17px;
	line-height: 1.5
}
p {
	margin-bottom: 1.5em
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit
}
fieldset {
	padding: 0;
	border: 0;
	min-width: inherit
}
fieldset legend {
	padding: 0;
	margin-bottom: 1.5em
}
h1, h2, h3 {
	margin-bottom: 20px;
	line-height: 1.2em;
	font-weight: 300;
	text-transform: none
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
	font-weight: 400;
}
h4, h5, h6 {
	margin-bottom: 20px;
}
b, strong {
	font-weight: 700;
}
em, i {
	font-style: italic;
}
small {
	font-size: 75%;
}
img {
	height: auto;
	max-width: 100%;
}
img.brand-logo {
	max-width: unset !important;
	width: 150px !important;
	height: 150px !important;
}
ol li:hover:before {
	color: var(--link_hover, initial);
}
button, input {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button,
input[type=button], input[type=submit] {
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-appearance: button;
	padding: 10px 20px;
	color: var(--color_secondary, initial);
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
a, button, input {
	transition: color .1s ease-in-out, background-color .1s ease-in-out
}
a, a:visited, a:hover, a:focus {
	text-decoration: none;
}
.button {
	padding: 10px 20px;
	display: inline-block;
}
.using-mouse:focus {
	outline: 0;
}
.using-mouse::-moz-focus-inner {
	border: 0;
}
.rules > p {
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.rules > p:first-child {
	margin-top: unset;
}
.rules > p:last-child {
	margin-bottom: unset;
}
.no-sidebar {
	margin-left: calc(-100vw/2 + 100%/2);
	margin-right: calc(-100vw/2 + 100%/2);
	max-width: 100vw;
	width: auto;
}
.flex-50 {
	flex: 0 0 50% !important;
}
.flex-100 {
	flex: 0 0 100% !important;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.captiveportal {
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}
.captiveportal *,
.captiveportal:after,
.captiveportal:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.captiveportal a {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
}
.captiveportal .link {
	color: var(--link, initial);
	cursor: pointer;
	font-weight: 400;
}
.captiveportal .link:hover {
	color: var(--link_hover, initial);
}
.captiveportal hr {
	background-color: transparent;
}
.captiveportal img {
	height: auto;
	max-width: 100%;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.captiveportal:after {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
section .container {
	height: 100vh;
	min-height: 100%;
}
.row {
	position: relative;
	display: flex;
	z-index: 2;
}
.field-group {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.field-group.field-type-submit {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.field-group .field-text {
	width: 100%;
	max-width: 100%;
	border: 1px solid var(--bg_alternate, initial);
	background-color: transparent;
	color: var(--color_alternate, initial);
	vertical-align: middle;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.field-group .field-text:focus {
	outline: 0;
}
.field-group .field-text::-webkit-input-placeholder {
	color: inherit;
	font-family: inherit;
	font-style: italic;
	opacity: .6;
}
.field-group .field-text:-ms-input-placeholder,
.field-group .field-text::-ms-input-placeholder {
	color: inherit;
	font-family: inherit;
	font-style: italic;
	opacity: .6;
}
.field-group .field-text::placeholder {
	color: inherit;
	font-family: inherit;
	font-style: italic;
	opacity: .6;
}
.field-group .field-text:focus::-webkit-input-placeholder {
	color: var(--input_field_placeholder_color, transparent) !important;
}
.field-group .field-text:focus:-ms-input-placeholder,
.field-group .field-text:focus::-ms-input-placeholder {
	color: var(--input_field_placeholder_color, transparent) !important;
}
.field-group .field-text:focus::placeholder {
	color: var(--input_field_placeholder_color, transparent) !important;
}
.field {
	line-height: 1.4;
}
.field.size-xs {
	font-size: 13px;
	min-height: 33px;
	padding: 4px 12px;
}
.field.size-sm {
	font-size: 15px;
	min-height: 40px;
	padding: 5px 14px;
}
.field.size-md {
	font-size: 16px;
	min-height: 47px;
	padding: 6px 16px;
}
.field.size-lg {
	font-size: 18px;
	min-height: 59px;
	padding: 7px 20px;
}
.field.size-xl {
	font-size: 20px;
	min-height: 72px;
	padding: 8px 24px;
}
.form button > span {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
button {
	display: inline-block;
	line-height: 1;
	background-color: var(--bg_alternate, transparent);
	color: var(--color_secondary, initial);
	text-align: center;
	-webkit-transition: all .5s;
	transition: all .5s;
}
button:focus, button:hover, button:visited {
	color: var(--color_secondary, initial);
}
button.size-xs {
	min-height: 33px;
	font-size: 13px;
	padding: 10px 20px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
button.size-sm {
	min-height: 40px;
	font-size: 15px;
	padding: 12px 24px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
button.size-md {
	min-height: 47px;
	font-size: 16px;
	padding: 15px 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
button.size-lg {
	min-height: 59px;
	font-size: 18px;
	padding: 20px 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
button.size-xl {
	min-height: 72px;
	font-size: 20px;
	padding: 25px 50px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
button span {
	text-decoration: inherit
}
.heading-title {
	padding: 0;
	margin: 0;
	line-height: 1;
}
.form-fields-wrapper label,
.form-fields-wrapper .pretext,
.captiveportal .interface-config,
.field-group .field,
.button,
.heading-title {
	font-family: sans-serif;
	font-weight: 400;
}
.heading-title {
	font-weight: 600;
}
.login .lost-password, .login .rules-checkbox {
	font-size: .85em;
}
.form-fields-wrapper label,
.form-fields-wrapper .pretext,
.captiveportal .interface-config,
.field-group .field,
.field-group > a,
#status_info .widget-heading .heading-title,
#anon_info .widget-heading .heading-title {
color: var(--color_primary, initial);
}
.captiveportal section {
	width: 100vw;
	height: 100%;
	background-color: var(--bg_section, transparent);
	background-image: var(--bg_image, none);
	background-repeat: var(--bg_repeat, initial);
	background-size: var(--bg_size, initial);
	background-attachment: var(--bg_attachment, initial);
}
.captiveportal .isp-info,
.captiveportal .footer-isp-info {
	font-size: 12px;
}
.captiveportal .isp-info {
	color: var(--color_primary, initial);
	display: contents;
}
.captiveportal .footer-isp-info {
	display: flex;
	flex-wrap: wrap;
}
.captiveportal .isp-info *:first-child {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.captiveportal .isp-info *:first-child,
.captiveportal .footer-isp-info *:first-child {
	font-weight: 700;
	width: 100%;
}
.captiveportal .footer-isp-info {
	opacity: 0;
}
.captiveportal .footer-isp-info.ready {
	opacity: 1;
	transition: all var(--fadein, initial);
}
.captiveportal .footer-isp-info {
	padding: 0 15px 40px;
	justify-content: space-between;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	color: var(--color_secondary, initial);
}
.captiveportal .interface-config {
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}
.captiveportal .interface-config p {
	margin-bottom: .6em;
	flex: 0 0 50%;
}
.captiveportal .interface-config .if-title {
	color: var(--link, initial);
}
.captiveportal .config-address {
	color: var(--link_hover, initial);
}
.captiveportal .row {
	opacity: 0;
}
.captiveportal .row.ready {
	opacity: 1;
	transition: all var(--fadein, initial);
}
.captiveportal .left-side,
.captiveportal .right-side {
	position: relative;
	padding-right: var(--block_padding, 0);
	padding-bottom: var(--block_padding, 0);
	padding-left: var(--block_padding, 0);
}
.captiveportal .left-side {
	z-index: 2;
	top: var(--block_padding, 0);
	margin-right: calc(-1.5 * (var(--block_padding, 0)));
}
.captiveportal .right-side {
	z-index: 1;
	margin-left: calc(-1.5 * (var(--block_padding, 0)));
}
.captiveportal .left-side .wrapper,
.captiveportal .right-side .wrapper {
	border-radius: var(--block_radius, 0);
	height: 100%;
	width: 100%;
	max-width: fit-content;
	position: relative
}
.captiveportal .left-side .wrapper > * {
	position: relative;
	z-index: 2;
}
.captiveportal .right-side .wrapper {
	height: calc(100% + (2* var(--block_padding, 0)));
}
.captiveportal .left-side .wrapper:before,
.captiveportal .right-side .wrapper:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--block_radius, 0);
	z-index: -1;
}
.captiveportal .left-side .wrapper:before {
	box-shadow: var(--left_side_shadow, none);
}
.captiveportal .right-side .wrapper:before {
	box-shadow: var(--right_side_shadow, none);
}
.captiveportal .left-side .wrapper:after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
	background: var(--bg_left_side_blend, none);
	border-radius: var(--block_radius, 0);
	transform: matrix(1, 0, 0, -1, 0, 0);
	z-index: 0;
}
.captiveportal .right-side .wrapper:before {
	height: calc(calc(100% + (2 * var(--block_padding, 0))) - (2 * var(--block_padding, 0)));
}
.captiveportal .left-side .wrapper {
	color: var(--color_secondary, initial);
	padding: 75px;
	background-color: transparent;
	background-image: var(--bg_left_side, none);
	background-repeat: var(--bg_left_side_repeat, none);
	background-position: var(--bg_left_side_position, none);
	background-size: var(--bg_left_side_size, none);
	transition: width 0.3s ease-in;

}
.captiveportal .right-side .wrapper {
	background-color: var(--bg_right_side, transparent);
	padding: 75px 75px 75px calc(75px + var(--block_padding, 0));
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: width 0.3s ease-in;
}
.captiveportal .header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding-bottom: 45px;
}
.captiveportal .logo {
	background-color: var(--bg_right_side, transparent);
	border-radius: 6px;
	width: max-content;
	padding: 1em;
}
.captiveportal .heading {
	margin: auto;
	padding-left: 30px;
}
.captiveportal .heading-title {
	font-size: 28px;
	font-weight: 100;
}
.captiveportal #cp_portal_info {
	font-weight: 300;
	line-height: 1.6em;
}
.captiveportal .field-group {
	margin-bottom: 12px;
}
.captiveportal .field-group > label {
	padding-bottom: 0;
}
.captiveportal .form-fields-wrapper label {
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	width: 100%;
}
.captiveportal .form-fields-wrapper .heading-title {
	font-size: 18px;
	font-weight: 300;
	line-height: 2.3em;
	width: 100%;
}
.captiveportal .form-fields-wrapper .pretext {
	font-weight: 300;
}

.captiveportal .field-group .field {
	background-color: var(--input_field_bg, transparent);
	border-color: var(--input_field_border, initial);
	border-width: 0 !important;
	border-radius: unset !important;
	width: 100%;
}

.captiveportal button {
	text-transform: uppercase;
	letter-spacing: 2.8px;
	background-color: var(--button_bg, transparent);
	border-radius: unset !important;
}

.captiveportal button:hover {
	background-color: var(--button_hover_bg, transparent)
}
.captiveportal .rules-checkbox label {
	float: none;
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: nowrap;
	align-items: start;
	padding: 0;
	caret-color: transparent;
}
.captiveportal .rules-checkbox label .text {
	padding-top: 6px;
	font-size: 14px;
	line-height: 18px;
}
@-webkit-keyframes MOVE-BG {
	from {-webkit-transform: translateX(0);}
	to {-webkit-transform: translateX(46px);}
}
@keyframes MOVE-BG {
	from {transform: translateX(0);}
	to {transform: translateX(46px);}
}
.captiveportal #signin[disabled],
.captiveportal #signin_anon[disabled] {
	position: relative;
	overflow: hidden;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
.captiveportal #signin[disabled]:before,
.captiveportal #signin_anon[disabled]:before {
	content: "";
	position: absolute;
	left: -46px;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: -webkit-repeating-linear-gradient(145deg, rgba(0, 0, 0, 0) 1px, rgba(255, 255, 255, .2) 2px, rgba(255, 255, 255, .2) 11px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 20px);
	background: repeating-linear-gradient(-55deg, rgba(0, 0, 0, 0) 1px, rgba(255, 255, 255, .2) 2px, rgba(255, 255, 255, .2) 11px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 20px);
	-webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-name: MOVE-BG;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.captiveportal #signin-box #signin[disabled]:after,
.captiveportal #login_none #signin_anon[disabled]:after {
	content: "×";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 26px;
	color: var(--button_bg, initial);
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 9px;
	padding-left: 3px;
	margin-right: auto;
	width: 30px;
	height: 30px;
	background: rgba(255, 255, 255, .5);
	z-index: 100;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
}
.captiveportal #signin-box #signin[disabled]:hover:after,
.captiveportal #login_none #signin_anon[disabled]:hover:after {
	color: var(--button_hover_bg, initial);
	background: rgba(0, 0, 0, .5);
}
.captiveportal #cp_portal_cookies_note {
	font-size: 12px;
	line-height: 16px;
}
.captiveportal .field-type-text {
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	margin-top: 15px;
	padding-left: 15px;
}
.captiveportal .form .field-type-text:first-child {
	margin-top: 40px;
}
.captiveportal .form .field-type-text + .field-type-checkbox {
	margin-top: 40px;
}
.captiveportal .field-type-text:before {
	content: "";
	width: 5px;
	height: 100%;
	background-color: var(--input_field_placeholder_color, transparent);
	position: absolute;
	left: 0;
}
.captiveportal .field-type-text label {
	background-color: #fff;
}
input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
	width: 22px;
	height: 22px;
	margin: 0.25em 0.5em 0.25em 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}
input[type="radio"]:not(old) {
	padding-left: 5px;
}
input[type="checkbox"]:not(old) + label, input[type="radio"]:not(old) + label,
label > input[type="checkbox"]:not(old), label > input[type="radio"]:not(old) {
	display: inline-block;
	margin: -2px 0 15px -1.7em;
	line-height: 1.2em;
	vertical-align: middle;
}
label > input[type="checkbox"]:not(old), label > input[type="radio"]:not(old) {
	margin: 0.25em 0.5em 0.25em 0;
	position: absolute;
	width: 22px;
	height: 22px;
}
input[type="checkbox"]:not(old) + label > span:not([id]):not([class]), input[type="radio"]:not(old) + label > span:not([id]):not([class]),
label > input[type="checkbox"]:not(old) + span:not([id]):not([class]), label > input[type="radio"]:not(old) + span:not([id]):not([class]) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px !important;
	min-width: 22px;
	height: 22px !important;
	margin: 0.25em 0.5em 0.25em 0;
	border: 0.0625em solid rgb(192,192,192);
	background: rgb(224,224,224);
	vertical-align: bottom;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 1;
}
input[type="radio"]:not(old) + label > span:not([id]):not([class]),
label > input[type="radio"]:not(old) + span:not([id]):not([class]) {
	border-radius: 100%;
}
input[type="checkbox"]:not(old):checked + label > span:not([id]):not([class]):before,
label > input[type="checkbox"]:not(old):checked + span:not([id]):not([class]):before {
	content: "×";
	display: table-cell;
	width: auto;
	height: auto;
	font-size: 22px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	box-sizing: border-box;
}
input[type="radio"]:not(old):checked + label > span:not([id]):not([class]) > span:before,
label > input[type="radio"]:not(old):checked + span:not([id]):not([class]) > span:before {
	content: "•";
	display: table-cell;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-weight: normal;
	box-sizing: border-box;
}
#polyglotLanguageSwitcher, #polyglotLanguageSwitcher * {
	margin: 0;
	padding: 0;
	outline: none;
}
#polyglotLanguageSwitcher ul {
	list-style: none;
}
#polyglotLanguageSwitcher {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: normal;
	position: relative;
	z-index: unset;
	width: 100%;
}
#polyglotLanguageSwitcher form {
	display: none;
}
#polyglotLanguageSwitcher a {
	display: block;
	position: relative;
	background-color: var(--lang_switcher_link, transparent);
	overflow: hidden;
	padding: 15px 45px 11px 13px;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
#polyglotLanguageSwitcher a,
#polyglotLanguageSwitcher ul.dropdown li {
	color: var(--color_secondary);
	font-size: 14px;
	line-height: 14px;
}
#polyglotLanguageSwitcher a,
#polyglotLanguageSwitcher ul.dropdown li a {
	font-weight: 500;
}
#polyglotLanguageSwitcher a:hover {
	color: #000;
}
#polyglotLanguageSwitcher a.current:link,
#polyglotLanguageSwitcher a.current:visited,
#polyglotLanguageSwitcher a.current:active {
	background-color: var(--lang_switcher, transparent);
	overflow: hidden;
	text-decoration: none;
	white-space: nowrap;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
#polyglotLanguageSwitcher a.current:hover {
	background-color: var(--lang_switcher_hover, transparent);
	color: var(--color_secondary, initial);
	outline: none;
}
#polyglotLanguageSwitcher a.active {
	border-bottom: none !important;
}
#polyglotLanguageSwitcher span.trigger {
	display: block;
	background: var(--lang_switcher_trigger, transparent) url(../images/language-selector-arrow.png) no-repeat right center;
	border-left: 2px solid rgba(52, 73, 94, 0.1);
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}
#polyglotLanguageSwitcher a.current:active span.trigger,
#polyglotLanguageSwitcher a.active span.trigger {
	background-color: var(--lang_switcher, transparent);
	color: var(--color_secondary, initial);
	outline: none;
}
#polyglotLanguageSwitcher a.current:hover span.trigger {
	background-color: var(--lang_switcher_hover, transparent);
}
#polyglotLanguageSwitcher a.current:active span.trigger:active {
	background-color: var(--lang_switcher, transparent);
	outline: none;
}
#polyglotLanguageSwitcher ul.dropdown {
	position: absolute;
	margin-top: -21px;
	padding-top: 14px;
	position: absolute;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: -100;
	display: none\9;
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	-webkit-backface-visibility: hidden;
}
#polyglotLanguageSwitcher ul.dropdown:before {
	content: "";
	border-style: solid;
	border-width: 0 9px 9px 9px;
	border-color: transparent transparent var(--lang_switcher_dropdown, transparent) transparent;
	height: 0px;
	position: absolute;
	right: 12px;
	top: 5px;
	width: 0px;
	z-index: 1;
	-webkit-transform: rotate(360deg);
}
#polyglotLanguageSwitcher a.current:not(.active) + ul.dropdown {
	z-index: -100;
}
#polyglotLanguageSwitcher a.current.active + ul.dropdown {
	z-index: 100;
}
#polyglotLanguageSwitcher ul.dropdown li {
	background-color: var(--lang_switcher_dropdown, transparent);
	border-radius: 5px;
	margin: 0;
	max-height: 244px;
	padding: 3px;
}
#polyglotLanguageSwitcher ul.dropdown li a {
	border-radius: 3px;
	color: white;
	display: block;
	padding: 15px 9px 11px;
	background-color: unset;
	text-decoration: none;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
#polyglotLanguageSwitcher ul.dropdown li a:hover {
	background-color: var(--lang_switcher_dropdown_hover, transparent);
}
#polyglotLanguageSwitcher a.active + ul.dropdown {
	margin-top: -1px;
	opacity: 1;
	z-index: 10;
}
canvas {
	display: block;
}
#vanta-js {
	width: 100%;
	height: 100%;
}
#vanta-js canvas {
	height: 100% !important;
	z-index: 1;
}
.cpModal .solution-title {
	margin-top: 10px;
	color: var(--color_primary, initial);
}
.cpModal ol,
.cpModal ul {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	font-size: 12px;
	line-height: 18px;
	color: var(--color_primary, initial);
	padding-left: 20px;
}
.cpModal ol,
.cpModal ul.numeric {
	counter-reset: counter;
}
.cpModal ol li + li,
.cpModal ul li + li {
	margin-top: 8px;
}
.cpModal ol:not(.none-style) li,
.cpModal ul:not(.none-style) li {
	counter-increment: counter;
	display: flex;
}
.cpModal ol:not(.none-style) li:before,
.cpModal ul:not(.none-style) li:before {
	font-size: 12px;
	line-height: 14px;
	margin-left: -24px;
	width: 21px;
	height: 21px;
	margin-right: 10px;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cpModal ul:not(.numeric):not(.none-style) li:before {
	content: "\02022";
	font-size: 24px;
	color: var(--link);
}
.cpModal ul:not(.numeric):not(.none-style) li:hover:before {
	color: var(--link_hover, initial);
	font-size: 20px;
	content: "\026AC";
}
.cpModal ol:not(.none-style) li:before,
.cpModal ul.numeric:not(.none-style) li:before {
	content: counter(counter);
	background: var(--link, transparent);
	color: var(--color_secondary, initial);
	border-radius: 50%;
}
.cpModal ol:not(.none-style) li:hover:before,
.cpModal ul.numeric:not(.none-style) li:hover:before {
	background: var(--link_hover, transparent);
}
.cpModal ol li.tel:before,
.cpModal ul li.tel:before {
	content: "\02706" !important;
}
.cpModal .cpModal-header-icon {
	height: 40px;
	line-height: 46px;
}

html.linux .captiveportal #signin-box #signin[disabled]:after,
html.linux .captiveportal #login_none #signin_anon[disabled]:after {
	height: 28px;
}

[dir="rtl"] .captiveportal .left-side {
	margin-right: unset;
	margin-left: calc(-1.5 * (var(--block_padding, 0)));
}
[dir="rtl"] .captiveportal .right-side {
	margin-left: unset;
	margin-right: calc(-1.5 * (var(--block_padding, 0)));
}
[dir="rtl"] .captiveportal .right-side .wrapper {
	padding: 75px calc(75px + var(--block_padding, 0)) 75px 75px;
}
[dir="rtl"] .captiveportal .heading {
	padding-right: 30px;
	padding-left: unset;
}
[dir="rtl"] .captiveportal #signin-box #signin[disabled]:after,
[dir="rtl"] .captiveportal #login_none #signin_anon[disabled]:after {
	margin-left: auto;
	margin-right: 9px;
	padding-left: unset;
	padding-right: 3px;
}
[dir="rtl"] .captiveportal .field-type-text {
	padding-left: unset;
	padding-right: 15px;
}
[dir="rtl"] .captiveportal .field-type-text:before {
	right: 0;
	left: unset;
}
[dir="rtl"] input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
	margin: 0.25em 0 0.25em 0.5em;
}
[dir="rtl"] input[type="radio"]:not(old) {
	padding-right: 5px;
}
[dir="rtl"] input[type="checkbox"]:not(old) + label, input[type="radio"]:not(old) + label,
[dir="rtl"] label > input[type="checkbox"]:not(old), label > input[type="radio"]:not(old) {
	margin: -2px -1.7em 15px 0;
}
[dir="rtl"] label > input[type="checkbox"]:not(old), label > input[type="radio"]:not(old) {
	margin: 0.25em 0 0.25em 0.5em;
}
[dir="rtl"] input[type="checkbox"]:not(old) + label > span:not([id]):not([class]), input[type="radio"]:not(old) + label > span:not([id]):not([class]),
[dir="rtl"] label > input[type="checkbox"]:not(old) + span:not([id]):not([class]), label > input[type="radio"]:not(old) + span:not([id]):not([class]) {
	margin: 0.25em 0 0.25em 0.5em;
}
[dir="rtl"] #polyglotLanguageSwitcher a {
	padding-right: 58px;
}

@media (max-width:1200px) {
	.captiveportal .left-side {
		margin-right: unset;
		padding: 50px 30px 0;
		top: unset;
	}
	.captiveportal .right-side {
		margin-left: unset;
		padding: 30px;
	}
	.captiveportal .right-side .wrapper {
		margin-right: auto;
		margin-left: auto;
		padding: 75px;
	}
	section .container {
		height: auto;
		padding-bottom: calc(80px + var(--block_padding, 0));
	}
}

@media (max-width:768px) {
	body, a, button, input, select {
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out
	}
	.captiveportal .header {
		flex-wrap: wrap;
	}
	.captiveportal .right-side .wrapper,
	.captiveportal .left-side .wrapper {
		padding: 50px 30px;
	}
	.captiveportal .heading-title {
		font-size: 28px;
	}
	.captiveportal #cp_portal_info {
		font-size: 15px
	}
	.captiveportal .heading {
		padding-left: 2em;
		padding-top: 2em;
		flex: 0 0 50%;
	}
}
