#polyglotLanguageSwitcher {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: normal;
    position: relative;
    z-index: unset;
    width: 100%;
    * {
        margin: 0;
        padding: 0;
        outline: none;
    }
    ul {
        list-style: none;
        &.dropdown {
            position: absolute;
            margin-top: -21px;
            padding-top: 14px;
            right: 0;
            left: 0;
            margin-left: auto;
            opacity: 0;
            width: 80%;
            z-index: -100;
            display: none;
            -webkit-transition: 0.3s ease-out;
            -moz-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
            -webkit-backface-visibility: hidden;
            &:before {
                content: "";
                border-style: solid;
                border-width: 0 9px 9px 9px;
                border-color: transparent transparent var(--lang_switcher_dropdown, transparent) transparent;
                height: 0px;
                position: absolute;
                right: 12px;
                top: 5px;
                width: 0px;
                z-index: 1;
                -webkit-transform: rotate(360deg);
            }
            li {
                color: var(--color_secondary);
                font-size: 14px;
                line-height: 14px;
                background-color: var(--lang_switcher_dropdown, transparent);
                margin: 0;
                max-height: 244px;
                padding: 3px;
                &:first-child {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
                &:last-child {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                a {
                    font-weight: 500;
                    border-radius: 3px;
                    color: var(--lang_switcher_link, inherit);
                    display: block;
                    padding: 15px 9px 11px;
                    background-color: unset;
                    text-decoration: none;
                    -webkit-transition: all .2s ease-in;
                    -moz-transition: all .2s ease-in;
                    -ms-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                    &:hover {
                        color: var(--lang_switcher_link_hover, inherit);
                        background-color: var(--lang_switcher_dropdown_hover, transparent);
                    }
                }
            }
        }
    }
    form {
        display: none;
    }
    a {
        display: block;
        position: relative;
        background-color: var(--lang_switcher_link, transparent);
        overflow: hidden;
        padding: 15px 45px 11px 13px;
        text-decoration: none;
        white-space: nowrap;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        transition: 0.25s;
        -webkit-backface-visibility: hidden;
        color: var(--color_secondary);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        background-repeat: no-repeat;
        &:hover {
            color: #000;
        }
        &.current {
            border-radius: 5px;
            &:link,
            &:visited,
            &:active {
                background-color: var(--lang_switcher, transparent);
                overflow: hidden;
                text-decoration: none;
                white-space: nowrap;
                -webkit-transition: 0.25s;
                -moz-transition: 0.25s;
                transition: 0.25s;
                -webkit-backface-visibility: hidden;
            }
            &:active {
                span {
                    &.trigger {
                        background-color: var(--lang_switcher, transparent);
                        color: var(--color_secondary, initial);
                        outline: none;
                        &:active {
                            background-color: var(--lang_switcher, transparent);
                            outline: none;
                        }
                    }
                }
            }
            &:hover {
                background-color: var(--lang_switcher_hover, transparent);
                color: var(--color_secondary, initial);
                outline: none;
                span {
                    &.trigger {
                        background-color: var(--lang_switcher_hover, transparent);
                    }
                }
            }
            &:not(.active) {
                & + ul.dropdown {
                    z-index: -100;
                }
            }
            &.active {
                & + ul.dropdown {
                    z-index: 100;
                    margin-top: -1px;
                    opacity: 1;
                    z-index: 10;
                }
            }
        }
        &.active {
            border-bottom: none !important;
            span {
                &.trigger {
                    background-color: var(--lang_switcher, transparent);
                    color: var(--color_secondary, initial);
                    outline: none;
                }
            }
        }
    }
    span {
        &.trigger {
            display: block;
            background: var(--lang_switcher_trigger, transparent) url(../images/language-selector-arrow.png) no-repeat right center;
            border-left: 2px solid rgba(52, 73, 94, 0.1);
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 42px;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            transition: 0.25s;
            -webkit-backface-visibility: hidden;
        }
    }

    &.flags-list {
        li {
            cursor: pointer;
            box-shadow: inset 0 0 0 1px var(--flags_outline_color, transparent);
            -webkit-box-shadow: inset 0 0 0 1px var(--flags_outline_color, transparent);
            border-radius: 5px;
            padding: 3px;
            &.selected {
                box-shadow: inset 0 0 0 1px var(--flags_outline_active_color, transparent);
                -webkit-box-shadow: inset 0 0 0 1px var(--flags_outline_active_color, transparent);
            }
            &:hover {
                box-shadow: inset 0 0 0 1px var(--flags_outline_hover_color, transparent);
                -webkit-box-shadow: inset 0 0 0 1px var(--flags_outline_hover_color, transparent);
            }
            img {
                border-radius: 2px;
            }
        }
        &.flags-1x1 {
            li {
                width: 31px;
                height: auto;
            }
        }
        &.flags-4x3 {
            li {
                width: 37px;
                height: auto;
            }
        }
    }

    &.flags-select,
    &.flags-only-select {
        a {
            &[id] {
                &:before {
                    content: "";
                    display: block;
                    height: 25px;
                    border-radius: 3px;
                    background-size: 100% 25px;
                    background-clip: padding-box;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
            }
        }
    }

    &.flags-select {
        a {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 10px 45px 10px 13px;
            &[id] {
                &:before {
                    display: block;
                    width: 33px;
                    position: relative;
                }
            }
            &.current {
                &[id] {
                    display: flex;
                    align-items: center;
                    position: relative;
                    border-radius: 5px;
                }
            }
        }
        .dropdown {
            li {
                a {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 7px;
                }
            }
        }
        &.flags-1x1 {
            a {
                &[id] {
                    &:before {
                        width: 25px;
                    }
                }
            }
        }
    }

    &.flags-only-select {
        a {
            &[id] {
                &:before {
                    width: calc(100% - 57px);
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 8px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }
            &.current {
                &[id] {
                    display: block;
                    margin-left: auto;
                    max-width: fit-content;
                    padding-right: 77px;
                    position: relative;
                    font-size: 0;
                    border-radius: 5px;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 48px;
                        height: 40px;
                        pointer-events: none;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                    }
                }
            }
        }
        .dropdown {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-top: 27px;
            width: max-content;
            padding-right: 15px;
            padding-left: 15px;
            max-width: 180px;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: -1;
                background-color: var(--lang_switcher_dropdown, transparent);
                border-radius: 5px;
            }
            li {
                background-color: unset;
                width: 40px;
                &:first-child {
                    border-top-right-radius: unset;
                    border-top-left-radius: unset;
                }
                &:last-child {
                    border-bottom-right-radius: unset;
                    border-bottom-left-radius: unset;
                }
                a {
                    display: flex;
                    padding: unset !important;
                    font-size: 0;
                    line-height: 0;
                    width: auto;
                    height: 25px;
                    position: relative;
                    &:before {
                        left: 0 !important;
                        width: 100% !important;
                    }
                    &:hover {
                        background-color: unset !important;
                    }
                }
            }
        }
        &.flags-1x1 {
            a {
                &.current {
                    &[id] {
                        padding-right: 69px;
                        &:before {
                            width: calc(100% - 57px);
                            height: 25px;
                        }
                        &:after {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
            .dropdown {
                max-width: 200px;
                li {
                    width: 31px;
                }
            }
        }
    }
}
